<div class="fixed overlay shadow">
    <nav-bar></nav-bar>
</div>
<main role="main" class="container _pt-125">
    
  <router-outlet></router-outlet>
  <go-top-button   [animate]="true"
    [speed]="50"
    [acceleration]="2"
    [scrollDistance]="300"
    [classNames]="'go-top'"
    [styles]="{
       'border-radius': '20px 20px 20px 20px',
       'right': '5px',
       'color': 'black',
       'border': '5px solid',
       'line-height': '20px'
    }">
<i class='fa fa-arrow-up '></i>
</go-top-button>
</main>
<footer class="blog-footer x">
   <p>Build with <i class="fas fa-heart"></i> by <a href="https://www.instagram.com/taha.abu/">Abu</a>  </p>
   

</footer>
