.thumbnail1{
    height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.posts{
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{

    flex-basis: 48%;
    max-width: 80%;
    /* flex: 1; */
    min-width: 300px;
}